@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>

<div>
    <h3>This is my collection of all rugby union players from New Zealand</h3>
    <img src="~/Images/closeup-sports-player-holding-ball-600w-327039899.webp" />
    <img src="~/Images/rugby-player-preparing-kick-oval-600w-1163786491.webp" />
    <img src="~/Images/RUUGGBBBYYY.webp" />
</div>
