@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>

<div >  
    <img src="~/Images/closeup-sports-player-holding-ball-600w-327039899.webp" height="250" width="350"/>
    <img src="~/Images/rugby-player-preparing-kick-oval-600w-1163786491.webp" height="250" width="350"/>
    <img src="~/Images/RUUGGBBBYYY.webp" height="250" width="350" />
</div>
