@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <h3>This is my collection of all rugby union players from New Zealand</h3>
    
    <img src="~/Images/All_blacks_logo.png" alt="All Blacks Logo" width="500" height="600" />
</div>
